@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, sans-serif;
	background-color: #FFF5C2;
}



#cozumel, #cozumel2 {
	display: block;
	margin: 10px auto;
}

header {
	text-align: center;
	background-color: #6DB9EF;
}

footer {
	text-align: center;
	background-color: #0000DB;
	padding: 5px;
	color: white;
}

main {
	text-align: center;
	background-color: #F4F27E;
}

h2 {
	margin: 20px;
}

h3 {
	margin: 20px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:nth-child(odd) {
	background-color: #6DB9EF;
}


/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: #F4F27E;
	margin-bottom: 20px;
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

button {
	height: 48px;
	width: 300px;
	color: #000000;
	background-color: #009DFF;
	border: 2px solid black;
	font-size: 24px;
	margin-bottom: 20px;
}

button:hover {
	height: 48px;
	width: 300px;
	color: #3081D0;
	background-color: white;
	border: 2px solid grey;
	font-size: 24px;
	margin-bottom: 20px;
	cursor: pointer;
}

table {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-collapse: collapse;
	border: 2px solid black;
}

#div1 {
	background-color: #6DB9EF;
	padding: 5px;
	height: 200px;
}

#div2 {
	background-color: #FFF5C2;
	margin-bottom: 20px;
	padding: 5px;
	height: 200px;
}

a {
	color: white;
}

h4, ul {
	margin: 20px;
}

.active a{
	background-color: #404040;
	color: #FFFFFF;
}

#pricing {
	margin-bottom: 20px;
}

th, td{
	padding: 5px;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: blue;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: blue;
    font-size: .8rem;
	text-align: center;
}

form div {
    display: block;
    padding-top: 1rem;
    color: blue;
    font-size: .8rem;
	text-align: center;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    border: none;
    background-color: #c34d33;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.contactMain {
	margin-top: 20px;
	margin-bottom: 20px;
}